node_modules
vendor
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
!README.md

